<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='script_apagar.js') }}" defer></script>
    
    <title>Lista de jogadores</title>
  </head>
  <body>
    <h1>Lista de jogadores</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Idade</th>
          <th>Posição</th>
          <th>Clube</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for jogador in jogadores %}
        <tr>
          <td>{{ jogador.id }}</td>
          <td>{{ jogador.Nome }}</td>
          <td>{{ jogador.Idade }}</td>
          <td>{{ jogador.Posição }}</td>
          <td>{{ jogador.Clube }}</td>
          <td>
            <a class="btn btn-info" role="button" href="{{ url_for('alterar_jogador', id=jogador.id) }}">Editar</a>
            <button type="button" class="btn btn-danger delete-button" data-id="{{ jogador.id }}">
              Deletar
            </button>            
            <!--<button class="delete-button" data-id="{{ jogador.id }}">Deletar</button> -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-primary" role="button" href="{{ url_for('incluir_jogador') }}">Adicionar jogador</a>

    <!-- Modal de confirmação -->
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-delete-modal-label">Confirmar exclusão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir o jogador?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel-delete-button" data-dismiss="modal">Cancelar</button>
        <button id="confirm-delete-button" type="button" class="btn btn-danger" >Deletar</button>
      </div>
    </div>
  </div>
</div>
<!-- CSS do Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<!-- JavaScript do Bootstrap (depende do jQuery e do Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
